<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        div {
            padding: 20px;
        }
        .pomoConfig {
            border-color: black;
            border-width: 5px;
        }
        .pomoList {
            border-color: dodgerblue;
            border-width: 5px;
        }
        .btn {
            box-shadow: 2px 2px 2px 2px gray;
        }

    </style>
</head>
<body>
<div class="container-fluid" align="center">
    <h1>Pomodoro Application</h1>

    <p>this is pomodoro application. I will complete this before march.</p>


    <div class="pomoConfig">
        <input type="text" name="taskTitle" size="20" id="taskTitle" value="뽀모 이름"> <br><!-- 꼭 이름 있을 것! -->
        뽀모 : <h2 id="pomoTitle"></h2>
        시간 : <h2 id="pomoTime"></h2>

        <button onclick="setPomo(15)" class="btn btn-outline-secondary setButton" id="setButton-15" style="display:inline">15 뽀모</button>
        <button onclick="setPomo(25)" class="btn btn-outline-success setButton" id="setButton-25" style="display:inline">25 뽀모</button>
        <button onclick="setPomo(50)" class="btn btn-outline-danger setButton" id="setButton-50" style="display:inline">50 뽀모</button>

        <button onclick="pausePomo()" class="btn btn-outline-primary" id="pauseButton" style="display:none">수확하기</button>
    </div>

    <div class="pomoList" style="width: 400px">
        <h2>Today's Completed Task</h2>
        <ul class="list-group" id="pomoList">
        </ul>
    </div>

    <h3>Made by: <img th:src="@{/images/bleum.png}" width="240" height="160"/></h3>

</div>

</body>

<script>

    let intervalId;
    let userId = "_userId";
    let pomo;

    function setPomo(minute) {
        changeDisplay();

        const title = document.getElementById("pomoTitle")
        title.innerHTML = document.getElementById("taskTitle").value;

        let second = minute * 60;
        let now = 0;

        fetchJson(second / 60);

        intervalId = setInterval(function () {
            now += 1;

            let distance = second - now;

            let minutes = Math.floor(distance / 60);
            let seconds = Math.floor(distance % 60);

            document.getElementById("pomoTime").innerHTML = minutes + "m " + seconds + "s ";

            if (distance < 1) {
                document.getElementById("pomoTime").innerHTML = "END";
                changeDisplay();
                clearInterval(intervalId);
            }
        }, 1000);

    }

    function fetchJson(minute) {
        let url = 'http://localhost:8080/pomo';
        let data = {userId: userId, minute: minute};

        fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
    }

    function pausePomo() {
        clearInterval(intervalId);
        harvestPomo();
        changeDisplay();
        intervalId = undefined;

        let url = `http://localhost:8080/pomo/${userId}`;

        fetch(url, {
            method: 'GET',
            headers:{
                'Content-Type': 'application/json'
            }
        }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
    }

    function harvestPomo(){
        const pomo =  document.createElement('li');
        pomo.innerHTML = document.getElementById("pomoTitle").innerText;
        pomo.className = "list-group-item";

        document.getElementById('pomoList').appendChild(pomo);
    }

    function changeDisplay(){
        const buttonList = document.getElementsByClassName("setButton");
        Array.prototype.forEach.call(buttonList, el => el.style.display = intervalId === undefined ? "none" : "inline");
        document.getElementById("pauseButton").style.display = intervalId === undefined ? "block" : "none";
    }
</script>
</html>